.Node{
    background-color: white;
    border-right: 1px solid rgb(175, 216, 248);
    border-bottom: 1px solid rgb(175, 216, 248)
}

.leftmost{
    border-left: 1px solid rgb(175, 216, 248);
}

.top{
    border-top:rgb(175, 216, 248) 1px solid;
}

.visited{
    /* background-color: blue;
    border-right: 1px solid rgb(0, 53, 71);
    border-bottom: 1px solid rgb(0, 53, 71); */
    animation-name: animation3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out ;
}

.visitednormal{
  background-color: rgba(0, 190, 218, 0.75);
}

.Shortestpath{
  background-color: greenyellow;
  border-right: 1px solid greenyellow;
  border-bottom: 1px solid greenyellow;
}

.weighted{
  background-image: url("../../lock.svg");
  /* background-color: white; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* animation-name: animation1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
}

.wall{
    background-color: rgb(0, 53, 71);
    animation-name: animation1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    /* border-top: 1px solid black; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

.currently{
  background-color: yellow;
}

@keyframes animation1 {
    0% {
      transform: scale(.3);
     
    }
  
    50% {
      transform: scale(1.2);
     
      border: 0px;
    }
  
    100% {
      transform: scale(1.0);
      
      
    }
  }

  @keyframes animation2{
    0%{
      transform: scale(0.2);
    }
    100%
    {
      transform: scale(1);
    }
  }

@keyframes animation3{
  0% {
    transform: scale(.4);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
    }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
    }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    }
  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
    }
}

  .start{
    background-image: url("../../right-arrow.svg");
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* animation-name: animation1;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
  }
  
  .target{
    background-image: url("../../darts.svg");
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* animation-name: animation1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
  }